source https://nuget.org/api/v2

// Build
nuget Yaaf.AdvancedBuilding
nuget NUnit.Runners

// Projects
nuget FSharp.Core
nuget Portable.Ninject
nuget SimpleInjector

// Tests
nuget NUnit == 2.6.3
nuget Foq content:none
nuget FsUnit
nuget Unquote