source https://nuget.org/api/v2
redirects: on

// Build
nuget Yaaf.AdvancedBuilding
nuget NUnit.Runners

// Projects
nuget FSharp.Core
nuget Portable.Ninject
nuget SimpleInjector

// Tests
nuget NUnit
nuget Foq content:none
nuget FsUnit
nuget Unquote